<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WeChatBackend</display-name>
  
  <servlet>
  	<servlet-name>ConfigServlet</servlet-name>
  	<servlet-class>org.tsui.servlets.ConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ConfigServlet</servlet-name>
  	<url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RequestHandler</servlet-name>
  	<servlet-class>org.tsui.servlets.DataRequestHandler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RequestHandler</servlet-name>
  	<url-pattern>/RequestHandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>org.tsui.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>WechatServlet</servlet-name>
  	<servlet-class>org.tsui.servlets.WechatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WechatServlet</servlet-name>
  	<url-pattern>/WechatServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>